.graph {
    overflow: hidden;
    height: 400px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.presentationLeftM {
    margin-left: 20px;
}

.lenderText {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.tableSection {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.lenderIcons {
    max-width: 60px;
    max-height: 60px;
}

.description {
    display: flex;
}

.tableSection td {
    border-bottom-color: gray;
    border-bottom: 1pt solid lightgray; 
}

.graph {
    width: 100%;
}