.graph {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.lenderIcons {
    max-width: 60px;
    max-height: 60px;
}
.green-button {
    background-color: #31fcb3;
    height: 45px;
    width: 25%;
}