.green-button {
    background-color: #31fcb3;
    height: 45px;
    width: 50%;
}

.main-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}